/* scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    background-color: #e1e1e1;
    border-radius: 10px;
}

/* thumb styling */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #898989;
}
body *, p, a {
    font-family: "Helvetica" !important;
    overflow-x: hidden;
}
p {
    font-weight: 300;
    color: #8A8BA3;
}